{% extends "base.html" %}

{% block style %}
{% load static %}
<style>
      .invoice {
        font-family: 'Times New Roman', Times, serif;
        font-size: 100%;
      }
    </style>
{% endblock %}

{% block content %}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="invoice">
            <div class="" style="position: relative;">
                <div>
                    <table width="90%" border="0">
                        <tbody>
                            <tr>
                              <td width="266" rowspan="6"><img src="{{ instansi.logo.url }}" width="104" height="100" alt=""/></td>
                              <td width="1100" align="center"><strong>PEMERINTAH PROVINSI PAPUA BARAT</strong></td>
                            </tr>
                            <tr>
                                <td align="center"><strong>{{ instansi.nama }}</strong></td>
                            </tr>
                            <tr>
                                <td align="center">{{ instansi.alamat }}, {{ instansi.telepon }} </td>
                            </tr>
                            <tr>
                                <td align="center">{{ instansi.email }}, {{ instansi.situs }}</td>
                            </tr>
                        </tbody>
                    </table>
                <hr style="border-width:5px;  
                border-top-style:double;">
                <table width="110%" border="0">
                  <tbody>
                            <tr>
                              <td align="center"><strong><u>SURAT PERINTAH PERJALANAN DINAS</u></strong></td>
                            </tr>
                            <tr>
                              <td align="center"><strong>Nomor: {{ sppd.nomor }}</strong></td>
                            </tr>
                    
                  </tbody>
                </table>
                <br /> <br />
                </div>
                <div>
                    <table width="100%" border="1">
                      <tbody>
                        <tr>
                          <td width="16"> 1</td>
                          <td width="295">Pejabat berwanang yang memberi perintah </td>
                          <td colspan="2">{{ sppd.surat_perintah.penanggung_jawab.jabatan |title }}</td>
                          </tr>
                        <tr>
                          <td>2 </td>
                          <td>Nama pegawai yang diperintah </td>
                          <td colspan="2">{{ sppd.surat_perintah.koordinator.nama }}</td>
                          </tr>
                        <tr>
                          <td rowspan="2">3 </td>
                          <td>a. Pangkat dan Golongan </td>
                          <td colspan="2">a. {{ sppd.surat_perintah.penanggung_jawab.pangkat }}, {{ sppd.surat_perintah.penanggung_jawab.golongan }} </td>
                          </tr>
                        <tr>
                          <td>b. Jabatan </td>
                          <td colspan="2">b. {{ sppd.surat_perintah.penanggung_jawab.jabatan |title }} </td>
                          </tr>
                        <tr>
                          <td>4 </td>
                          <td>Maksud Perjalanan </td>
                          <td colspan="2">{{ sppd.maksud_perjalanan }}</td>
                          </tr>
                        <tr>
                          <td>5 </td>
                          <td> a. Tempat berangkat<br>
                            b. Tempat tujuan<br></td>
                          <td colspan="2"> a. {{ sppd.tempat_berangkat }}<br>
                            b. {{ sppd.tempat_tujuan }}<br></td>
                          </tr>
                        <tr>
                          <td> 6</td>
                          <td>
                               
                              a. Tanggal Keberangkatan <br>
                              b. Tanggal harus kembali
                            </td>
                          <td colspan="2">
                            <p id="waktu_berangkat" style="margin: 0; padding: 0; margin-bottom: 0; padding-bottom: 0;">{{ sppd.tanggal_berangkat |date:"d M, Y" }}</p>
                            <p id="waktu_kembali" style="margin: 0; padding: 0;">{{ sppd.tanggal_kembali |date:"d M, Y" }}</p> </tr>
                        <tr>
                          <td>7 </td>
                          <td>Alat anguktan yang dipergunakan </td>
                          <td colspan="2">Dinas / Umum </td>
                          </tr>
                        <tr>
                          <td>8 </td>
                          <td>Pengikut : Nama </td>
                          <td width="200">NIP </td>
                          <td width="468">Jabatan </td>
                        </tr>
                        
                          {% for value in pelaksana %}
                          <tr>
                              <td>&nbsp;</td>
                              <td>{{ forloop.counter }}. 
                                  {{ value.nama |title }}

                                </td>
                              <td>{{ value.nip }}</td>
                              <td>{{ value.jabatan |title }}</td>
                               

                          </tr>
                         {% endfor %}
                        
                        <tr>
                          <td> 9</td>
                          <td>Pembebasan<br>
                            a. Instansi<br>
                            b. Mata Anggaran<br></td>
                          <td colspan="2">a. Dinas Komunikasi, Informatika, Persandian dan Statistik Manokwari<br>
                            b. Biaya Perjalanan Dinas Tahun 2021<br></td>
                          </tr>
                        <tr>
                          <td> 10</td>
                          <td>Keterangan Lain-lain</td>
                          <td colspan="2">{{ sppd.keterangan }}</td>
                          </tr>
                      </tbody>
                    </table>
                </div>
                <div>
                    <table width="100%" height="276" border="0">
                      <tbody>
                        <tr>
                          <td width="319" height="18">&nbsp;</td>
                          <td width="74">&nbsp;</td>
                          <td width="143">Dikeluarkan Di </td>
                          <td width="158">: Manokwari </td>
                        </tr>
                        <tr>
                          <td height="18">&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>Pada Tanggal </td>
                          <td id="waktu">: {{ sppd.surat_perintah.tanggal |date:"d M, Y" }}</td>
                        </tr>
                        <tr>
                          <td height="18" colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="18">&nbsp;</td>
                          <td colspan="3" align="center"><strong>{{ sppd.surat_perintah.penanggung_jawab.jabatan }}</strong></td>
                        </tr>
                        <tr>
                          <td height="76" colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="18">&nbsp;</td>
                          <td colspan="3" align="center"><strong><u>{{ sppd.surat_perintah.penanggung_jawab.nama }}</u></strong></td>
                        </tr>
                        <tr>
                          <td height="18">&nbsp;</td>
                          <td colspan="3" align="center">{{ sppd.surat_perintah.penanggung_jawab.pangkat }}/{{ sppd.surat_perintah.penanggung_jawab.golongan }}</td>
                        </tr>
                        <tr>
                          <td height="18">&nbsp;</td>
                          <td colspan="3" align="center">NIP. {{ sppd.surat_perintah.penanggung_jawab.nip }} </td>
                        </tr>
                      </tbody>
                    </table>
                </div>                             
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->



{% endblock %}

{% block scripts %}
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script>

  let waktu = "{{ waktu }}";
  let waktu_berangkat = "{{ sppd.tanggal_berangkat }}";
  let waktu_kembali = "{{ sppd.tanggal_kembali }}";
  moment.locale('id');
  let a = moment(waktu);
  let b = moment(waktu_berangkat);
  let c = moment(waktu_kembali);
  let tempel = document.querySelector('#waktu');
  let tempel2 = document.querySelector('#waktu_berangkat');
  let tempel3 = document.querySelector('#waktu_kembali');

  let waktu_ind = a.format('Do MMMM YYYY');
  let waktu_ind2 = b.format('Do MMMM YYYY');
  let waktu_ind3 = c.format('Do MMMM YYYY');
  tempel.innerText = waktu_ind;
  tempel2.innerText = "a. "+ waktu_ind2;
  tempel3.innerText = "b. "+ waktu_ind3;
</script>
{% endblock %}