{% extends "base_umum.html" %}

{% block style %}
{% load static %}
<link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <div class="theme-panel hidden-xs hidden-sm">
            <div class="toggler"> </div>
            <div class="toggler-close"> </div>
        </div>
        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="{% url 'myapp_index' %}">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#">Tables</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Datatables</span>
                </li>
            </ul>
            
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h1 class="page-title"> Surat Perintah Tugas
            <small>Data Table</small>
        </h1>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject bold uppercase">Data</span>
                        </div>
                        <div class="actions">
                            <a href="{% url 'myapp_create_surat_perintah_umum' %}" class="btn blue btn-outline">
                                <i class="fa fa-plus"></i> Tambah </a>
                        </div>
                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="dataTable">
                            <thead>
                                <tr>
                                    <th class="">No</th>
                                    <th class="">Nomor Surat</th>
                                    <th class="">Tanggal</th>
                                    <th class=""></th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for value in suratperintah %}
                            	<tr>
                            		<td>{{ forloop.counter }}</td>
                            		<td>{{ value.nomor }}</td>
                            		<td>{{ value.tanggal |date:"d-m-o" }}</td>
                            		<td><a href="{% url 'myapp_show_surat_perintah_umum' value.id %} " class="btn blue btn-outline" >Lihat</a> 
                                        <a href="{% url 'myapp_update_surat_perintah_umum' value.id %} " class="btn blue btn-outline" >Ubah</a>
                                        <a href="{% url 'myapp_delete_surat_perintah_umum' value.id %} " class="btn red btn-outline" onclick="return confirm('apa anda yakin ingin hapus?')" >Hapus</a>

                                    </td>
                            	</tr>
                            	{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        </div>
    <!-- END CONTENT BODY -->
</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $('#dataTable').DataTable({
            // processing: true,
            // serverSide: false,
            // columns: [
            //     {data: 'id', name: 'id'},
            //     {data: 'nomor', name: 'nomor'},
            //     {data: 'tanggal', name: 'tanggal'},
            //     {data: 'action', name: 'action', orderable: false, searchable: false}
            // ]
        });
    </script>

{% endblock %}

